<div class="container">
 <br><br>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Email</label>
  <input type="text" id="username"  class="form-control" formControlName="username">
 </div>


  <div class="form-group">
    <label for="password">{{'password' | translate }}</label>
    <input type="password" id="password" class="form-control" formControlName="password">
  </div>


  <button  [disabled]="!loginForm.valid" >Login</button>

</form>
<br><br>
<div *ngIf="showAlert">
  <ngb-alert [dismissible]="false" type="danger">
    <strong>Error !</strong> {{wrongPassword}} .
  </ngb-alert>
</div>
</div>