<div class="col-md-6">

   
  <br>
  
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        
        <div class="form-group">
          <label for="newPassword">New Password:</label>
          <input type="password" formControlName="newPassword" placeholder="new password" name="newPassword" class="form-control" id="newPassword">
        </div>
    
        <div class="form-group">
          <label for="retypePassword">Retype Password:</label>
          <input type="password" formControlName="retypePassword" placeholder="retype password" name="retypePassword" class="form-control" id="retypePassword">
        </div>
  
        <button class="btn btn-light">Update</button>
      </form>
    </div>
