<div class="container">
  <br>

   
  <br>
  
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        
        <div class="form-group">
          <label for="newPassword">New Password:</label>
          <input type="text" formControlName="newPassword"  class="form-control" id="newPassword">
        </div>
    
    
        <button class="btn btn-light" [disabled]="!passwordForm.valid" >Update</button>
      </form>

      <br><br>
      <div *ngIf="showAlertPasswordError">
        <ngb-alert [dismissible]="false" type="danger">
          <strong>Error !</strong> {{messagePasswordError}} .
        </ngb-alert>
      </div>
    </div>
