<div class="col-md-6">

  <button class="btn btn-light" (click)="changePassword()">Change Password</button>

<br><br>

    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      
      <div class="form-group">
        <label for="Name">Name:</label>
        <input formControlName="name" placeholder="Name" name="name" class="form-control" id="name">
      </div>
  
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
      </div>

      <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
        </div>
  
      <button class="btn btn-light">Update</button>
    </form>
  </div>