
<div class="container">

 
  <br>
  <button class="btn btn-light" (click)="addUser()"> {{'addUser' | translate}} </button>
  <br><br>
  
  <div class="table-responsive-md">
    <table class="table">
    <thead>
    <tr>
      <th>{{'name' | translate }}</th>
      <th>Email</th>
      <th> </th>
      
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td><a routerLink="/editUser/{{user.id}}">{{ user.name }} {{ user.lastName }}</a></td>
      <td>{{ user.email }} </td>
      <td><button class="btn btn-danger" (click)="theAlert(user)"> {{'delete' | translate}}</button>
       
    </tr>
    </tbody>
  </table>
  </div>
