<div class="container">
  <br>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">{{'name' | translate }}</label>
  <input type="text" id="name"  class="form-control" formControlName="name">
 </div>

 <div class="form-group">
  <label for="lastName">{{'lastName' | translate }}</label>
<input type="text" id="lastName" class="form-control" formControlName="lastName">
</div>

<div class="form-group">
  <label for="email">Email</label>
<input type="text" id="email"  class="form-control" formControlName="email" >
</div>

<div *ngIf="showAlert">
  <ngb-alert [dismissible]="false" type="danger">
    <strong>Error !</strong> {{message}} .
  </ngb-alert>
</div>
  <div class="form-group">
    <label for="password">{{'password' | translate }}</label>
    <input type="text" id="password" class="form-control" formControlName="password">
  </div>

  <button [disabled]="!registerForm.valid" class="btn btn-light"  >{{'register' | translate }}</button>

</form>

<br><br>

</div>
